* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    min-height: 100vh;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: fixed;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    padding-right: 20px;
    padding-left: 15px;
    width: 100%;
    height: 80px;
    padding: 20px, 100px;
}

h1 {
font-size: 32px;
color: #fff;
text-decoration: none;
 font-weight: 700;    
}

h2 {
    color: rgb(150, 38, 154);
    font-style: italic;
}

.main-navbar ul {
    list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     gap: 15px;
     padding-left: 20px;
}

.main-navbar a {
   color: #fff;
   font-weight: 700;
   text-decoration: none; 
}
.main-navbar a:hover,
.main-navbar a:focus-visible {
    color: blue;
}

#about {
    margin-top: 100px;
    margin-bottom: 50px;
}

#about p {
    background-color: rgba(81, 186, 107, 0.2);
}

#services {
    margin-top: 50px;
    margin-bottom: 50px;
}

#services p {
    background-color: rgba(81, 186, 107, 0.2);
    font-size: 13pt;
}

#the-crew {
    margin-top: 50px;
    margin-bottom: 50px;
}

#the-crew p {
    background-color: rgba(81, 186, 107, 0.2);
    font-size: 13pt;
}

#contact {
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact p {
    background-color: rgba(81, 186, 107, 0.2);
    font-size: 13pt;
}

.btn {
    background-color: #fff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.15);
    color: blue;
}

footer {
    color: #fff;
}